
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 1em;
    transition: .5s;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: .5s;
}

.menu__item {
    color: yellow;
    font-size: 2.5em;
    /* background-color: #fff; */
    padding: 1em 2em 1em 2em;
    outline: none;
    text-shadow: 0 0 8px white, 0 0 20px yellow, 0 0 25px white;
    transition: .1s;

}

.menu__link{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    color: yellow;
}

.menu__item:hover {
    background-color: rgb(98, 98, 0);
    border-radius: 10px;
}

.active{
    
    border-bottom: 2px dashed yellow;
}

@media screen and (max-width: 480px) {
    
    .menu {
        width: 90%;
    }

    .menu__item {
        font-size: 1.5em;
        padding: 1em 1em 1em 1em;
    }
}